* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: rgba(255, 255, 255, 0.87);
  --background: #242424;

  --primary: #03dac6;
  --secondary: #6200ee;
  --warning: #ffab00;
  --success: #00c853;
  --info: #2196f3;
  --error: #b00020;
  --surface: #333333;

  --on-primary: #ffffff;
  --on-warning: #000000;
  --on-secondary: #000000;
  --on-warning: #000000;
  --on-success: #000000;
  --on-info: #ffffff;
  --on-error: #ffffff;
  --on-surface: #ffffff;

  color: var(--text);
  background-color: var(--background);

  .btn {
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    color: var(--on-primary);
    background-color: var(--surface);

    &:hover {
      scale: 1.02;
      transition: all 0.2s ease-in-out;
      background-color: color-mix(in srgb, var(--surface) 80%, transparent);
    }
  }

  .btn-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding-right: 2.2rem;
    background-image:
      linear-gradient(45deg, transparent 50%, var(--on-surface) 50%),
      linear-gradient(135deg, var(--on-surface) 50%, transparent 50%);
    background-position:
      calc(100% - 16px) calc(50% - 3px),
      calc(100% - 12px) calc(50% - 3px);
    background-size: 6px 6px;
    background-repeat: no-repeat;
  }

  select option {
    background-color: var(--surface);
    color: var(--on-surface);
    font-weight: 500;
  }
}

